<div ng-init="init()">

  <div ng-show="isSetupPhase()">
    <h5>Investigators</h5>
    <div ng-repeat="investigator in available_investigators" ng-class="{selected: isSelectedInvestigator(investigator)}">
      <span ng-click="player_one.investigator = investigator" class="clickable">
	{{investigator.name}}
        <br/>
        <sub>{{investigator.starting_location}}</sub>
      </span>
    </div>

    <h5>Ancient Ones</h5>
    <div ng-repeat="ancient_one in available_ancient_ones" ng-class="{selected: isSelectedAncientOne(ancient_one)}">
      <span ng-click="game.ancient_one = ancient_one" class="clickable">
	{{ancient_one.name}}
      </span>
    </div>
    <br/>
    <p>
      <button ng-click="startGame()">Start Game</button>
    </p>
  </div>

  <div ng-if="!isSetupPhase()">
    <div class="gameboard">
      <img src="eldritch_horror_map_resized.png" usemap="#Map"/>
      <map name="Map" id="Map">
	<area ng-repeat="location in locations" shape="circle" coords="{{locationCoords(location)}}" ng-click="clickMapAt(location.name)"/>
      </map>

      <div class="location-info" ng-repeat="location in locations" ng-style="getLocationInfoStyle(location)">
	<div class="player" ng-if="player_one.investigator.current_location.name == location.name">{{player_one.investigator.name}}</div>
        <div class="defeated" ng-if="defeatedInvestigatorsAt(location)">
          <span ng-repeat="investigator in getDefeatedInvestigatorsAt(location)">
            {{investigator.name}} (defeated)
          </span>
        </div>
	<div class="gate-token" ng-if="location.gate">[G {{location.gate.omen}}]</div>
        <div class="clue-token" ng-if="location.clue">[C]</div>
	<div class="monster-token" ng-if="location.monsters.length > 0">
	  <div ng-repeat="monster in location.monsters">
	    {{monster.name}} ({{monster.toughness}})
	  </div>
	</div>
      </div>
    </div>
    <div class="right-panel" id="player_info" ng-if="showPlayerInfoPanel">
      Investigator:
      <br/><input type="text" ng-model="player_one.investigator.name" disabled/>
      <br/>
      <span ng-show="player_one.investigator.delayed">
        <b>(Delayed)</b>
        <br/>
      </span>
      <span ng-show="player_one.investigator.defeated">
        <b>(Defeated)</b>
        <br/>
      </span>
      Health: {{player_one.investigator.health}} / {{player_one.investigator.max_health}}
      <br/>
      Sanity: {{player_one.investigator.sanity}} / {{player_one.investigator.max_sanity}}
      <br/>
      Clues: {{player_one.clues.length}}
      <br/>
      Current Location:
      <br/><input type="text" ng-model="player_one.investigator.current_location.name" />
      <br/>Doom: {{game.doom}}
      <br/>Omen: {{game.omen}}
      <hr/>
      <label ng-click="showReferenceCard = !showReferenceCard" class="clickable"><b>Reference Card</b></label>
      <span ng-show="showReferenceCard">
	<br/>Gates: {{game.reference.spawn_gates}}
	<br/>Clues: {{game.reference.spawn_clues}}
	<br/>Monsters: {{game.reference.monster_surge}}
      </span>
      <hr/>
      <label ng-click="showReserveCards = !showReserveCards" class="clickable"><b>Reserve</b></label>
      <span ng-show="showReserveCards">
	<span ng-repeat="card in game.reserve" ng-click="clickCardInReserve(card)" class="clickable">
	<br/>{{card.name}} ({{card.value}})
	</span>
      </span>
      <hr/>
      <label ng-click="showActionsTaken = !showActionsTaken" class="clickable"><b>Actions Taken</b> <small>({{player_one.actions_taken.count}})</small></label>
      <span ng-show="showActionsTaken">
	<br/><label><input type="checkbox" ng-model="player_one.actions_taken.rest" disabled/>Rest</label>
	<br/><label><input type="checkbox" ng-model="player_one.actions_taken.prepare" disabled/>Prepare for Travel</label>
	<br/><label><input type="checkbox" ng-model="player_one.actions_taken.travel" disabled/>Travel <small>({{player_one.actions_taken.moves}})</small></label>
      </span>
      <hr/>
      <label ng-click="showPossessions = !showPossessions" class="clickable"><b>Possessions</b></label>
      <span ng-show="showPossessions">
	<span ng-repeat="asset in player_one.investigator.assets track by $index">
          <br/>{{asset.name}}
	</span>
	<span ng-repeat="spell in player_one.spells">
          <br/>{{spell.name}}
	</span>
        <span ng-repeat="condition in player_one.investigator.conditions track by $index">
          <br/>{{condition.name}}
	</span>
      </span>
      <hr/>
      <label ng-click="showTravelTickets = !showTravelTickets" class="clickable"><b>Tickets</b></label>
      <span ng-show="showTravelTickets">
        <br/>Train: <input type="text" ng-model="player_one.travel_tickets.train" />
        <br/>Ship: <input type="text" ng-model="player_one.travel_tickets.ship" />
      </span>
      <hr/>
      <b>{{game.phase}} phase</b>
      <br/>
      <span ng-show="game.phase === 'action'">
	<b>Prepare for Travel</b>
	<br/><a ng-click="clickGetTravelTicketAction('train')" class="clickable">Train Ticket</a> | <a ng-click="clickGetTravelTicketAction('ship')" class="clickable">Ship Ticket</a>
	<br/><a ng-click="clickRestAction()" class="clickable">Rest</a>
	<br/>
      </span>
      <span ng-show="game.phase === 'encounter'">
	<a ng-click="clickCombatEncounter()" class="clickable">Combat <small>({{player_one.investigator.current_location.monsters.length}})</small></a>
	<br/>
	<a ng-click="clickGateEncounter()" class="clickable">Other World Encounter <small>({{!!player_one.investigator.current_location.gate}})</small></a>
        <br/>
	<a ng-click="clickLocationEncounter()" class="clickable">Location Encounter</a>
	<br/>
	<a ng-click="clickResearchEncounter()" class="clickable">Research Encounter ({{player_one.investigator.current_location.clue !== false}})</a>
      </span>
      <hr/>
      <a ng-click="clickEndPhase()" class="clickable">End Phase</a>
    </div>
    <div class="panel-open-chevron" ng-click="showPlayerInfoPanel=!showPlayerInfoPanel" ng-class="{open: showPlayerInfoPanel, close: !showPlayerInfoPanel}">
      <center>
        <span ng-show="showPlayerInfoPanel">&#8250;</span>
        <span ng-hide="showPlayerInfoPanel">&#8249;</span>
      </center>
    </div>
  </div>

</div>
