<div class="modal-header">
  <h3 class="modal-title">Spend Clues to Re-roll</h3>
</div>
<div class="modal-body">
  You have {{clues}} clues. 
  <br/>
  Spend <select id="clues" ng-model="choice"><option ng-repeat="clue in cluesArr() track by $index" value="{{$index}}">{{$index}}</select>
  <br/>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
