.selected { color: #0099FF; }
.clickable { cursor: pointer; }
.right-panel {
  float: right;
  width: 200px;
  border: 1px solid black;
  padding: 5px;
}

#player_info {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
}

.panel-open-chevron {
  position: fixed;
  top: 200px;
  background-color: white;
  height: 30px;
  width: 25px;
}

.open {
  right: 212px;
}
.close {
  right: 0px;
}

#gameboard {
  position: absolute;
}

#reserve {
  border: 1px solid black;
  bottom: 0;
  height: 200px;
  left: 400px;
}

.reserve-card {
  height: 150px;
  width: 100px;
  display: inline-block;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}